* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}

#navigation-bar {
  background-color: rgb(14, 22, 14);
  padding: 0rem;
}
#navbar {
  border-top: 2px solid rgb(235, 232, 232);
  height: 3.5rem;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 90%;
  border-radius: 9px;
}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  cursor: pointer;
  filter: brightness(82%);
  transform: scale(1.1);
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.tile-text {
  text-align: center;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/hero.jpg");

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
  height: 50vh;
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
  color: white;
}
.hero-mainheading {
  font-size: 40px;
  font-weight: 400;
  color: white;
}
.hero-input {
  width: 65%;
  height: 50px;
  padding: 16px;
  border-radius: 10px;
}
.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.header {
  margin-top: 3rem;
}

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height: 100%;
  width: 100%;
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 70%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  cursor: pointer;
  filter: brightness(82%);
  transform: scale(1.1);
}
.card-body {
  border: 1px solid rgb(212, 206, 206);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-body p {
  font-size: 18px;
  font-weight: 400;
}
/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  height: 100%;
}

.adventure-detail-card img {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.adventure-detail-card img:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  cursor: pointer;
  filter: brightness(82%);
  transform: scale(1.08);
}
.experience-content ul li {
  margin-left: 16px;
}
.experience-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#sold {
  height: 8rem;
  border: 1px solid rgb(241 233 233);
}
@media only screen and (min-width: 1200px) {
  #sold {
    position: fixed;
    left: 66%;
  }
}

#box2 img {
  height: 50%;
}

#left-col {
  border: 1px solid rgb(241 233 233);
}

#main-grid {
  grid-column-gap: 0.5rem;
}
.img-fluid {
  padding-top: 0.7rem;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}
